%table.table.table-striped
  %thead
    %tr
      %th Host
      %th Last pod started
      %th Commands
      %th
  %tbody
    - @hostnames_hosts.each do |hostname, host|
      %tr
        %td= hostname
        %td
          - if started_at = host[:last_started_at]
            = time_ago_in_words(started_at)
            ago
        %td
          %table.table.table-condensed.table-striped.table-bordered
            %tbody
              - host[:command_expressions_phases].each do |command_expression, phases|
                %tr
                  %td= command_expression
                  %td= phases.length
                  %td
                    - uniq_phases = phases.uniq
                    - if uniq_phases.length == 1
                      = uniq_phases.first
                    - else
                      = phases.sort.join(', ')