.row
  .col-md-8
    .pull-right
      = form_tag commands_path, method: 'GET', class: 'form-inline' do
        .form-group
          = label_tag :image, 'Image:', style: 'margin-right: 5px; font-size: 12px; font-weight: normal;'
          = select_tag :image, options_for_select([['All', nil]] + @images, params[:image].presence), class: 'form-control input-sm', onchange: "$(this).closest('form').submit();"
    %h3 Commands
    %br
    - if @commands.blank?
      %p No commands found.
    - else
      = form_tag batch_update_commands_path, method: 'POST' do
        = hidden_field_tag :redirect_to, request.fullpath
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th
              %th Image
              %th Command
              %th Processes
              %th Desired Processes
              %th Deployed
              %th
          %tbody
            - @commands.each do |command|
              - escaped_command_expression = CGI.escape(command.expression)
              %tr
                %td= check_box_tag 'batch_command_expressions[]', escaped_command_expression, false, class: 'command-checkbox'
                %td= command.image
                %td= command.expression
                %td= command.process_count
                %td
                  = text_field_tag "command_expressions_process_counts[#{command.expression}]", nil, class: 'form-control', style: 'width: 50px;'
                %td
                  = time_ago_in_words(command.created_at.in_time_zone(Time.zone), include_seconds: true)
                  ago
                %td{ style: 'white-space: nowrap;' }
                  = link_to redeploy_commands_path(command_expression: escaped_command_expression), title: 'Redeploy', class: 'btn btn-info btn-xs btn-action' do
                    %span.glyphicon.glyphicon-cloud-download
                  = link_to reschedule_commands_path(command_expression: escaped_command_expression), title: 'Reschedule', class: 'btn btn-info btn-xs btn-action' do
                    %span.glyphicon.glyphicon-fullscreen
                  - if command.process_count == 0
                    = link_to delete_commands_path(command_expression: escaped_command_expression), title: 'Delete', class: 'btn btn-danger btn-xs btn-action' do
                      %span.glyphicon.glyphicon-remove
                  - else
                    = link_to stop_commands_path(command_expression: escaped_command_expression), title: 'Stop', class: 'btn btn-warning btn-xs btn-action' do
                      %span.glyphicon.glyphicon-stop
            %tr
              %td{ colspan: 2 }
                .batch-actions{ style: 'display: none;' }
                  = button_tag name: 'batch_action', value: 'redeploy', title: 'Redeploy', class: 'btn btn-info btn-xs btn-action' do
                    %span.glyphicon.glyphicon-cloud-download
                  = button_tag name: 'batch_action', value: 'reschedule', title: 'Reschedule', class: 'btn btn-info btn-xs btn-action' do
                    %span.glyphicon.glyphicon-fullscreen
                  = button_tag name: 'batch_action', value: 'stop', title: 'Stop', class: 'btn btn-warning btn-xs btn-action' do
                    %span.glyphicon.glyphicon-stop
              %td
              %td
              %td
                = button_tag 'Save', name: 'batch_action', value: 'scale', class: 'btn btn-default'
              %td
              %td

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4 New Command
      .panel-body
        = form_tag commands_path, method: 'POST', class: 'form-horizontal' do
          = hidden_field_tag :redirect_to, request.fullpath
          .form-group
            = label_tag :command_type_key, 'Type', class: 'col-sm-3 control-label'
            .col-sm-9
              = select_tag :command_type_key, options_for_select(Rhea::CommandType.options_for_select, Rhea.configuration.default_command_type_key), class: 'form-control', style: 'width: 90px;', required: 'required'
          .form-group
            = label_tag :command_type_input, 'Input', class: 'col-sm-3 control-label'
            .col-sm-9
              = text_field_tag :command_type_input, nil, class: 'form-control', style: 'width: 100%;', required: 'required'
          .form-group
            = label_tag :process_count, 'Processes', class: 'col-sm-3 control-label'
            .col-sm-9
              = text_field_tag :process_count, nil, class: 'form-control', style: 'width: 50px;', placeholder: 1
          .form-group
            .col-sm-3
            .col-sm-9
              = submit_tag 'Create', class: 'btn btn-default'

    .panel.panel-default
      .panel-heading
        %h4 Command Types
      .panel-body
        = render partial: 'rhea/command_types/list'

:javascript
  var checkboxes = $('.command-checkbox');
  var batchActions = $('.batch-actions');
  checkboxes.on('click', function() { batchActions.toggle(checkboxes.filter(':checked').length > 0); return true; });
