%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Time
      %th
      %th Host
      %th Type
      %th Resource Type
      %th Resource ID
  %tbody
    - @events.each do |event|
      %tr
        %td{ style: 'white-space: nowrap;' }= event.created_at.in_time_zone(Time.zone)
        %td{ style: 'white-space: nowrap;' }
          = time_ago_in_words(event.created_at.in_time_zone(Time.zone), include_seconds: true)
          ago
        %td= event.hostname
        %td= event.type
        %td= event.resource_type
        %td= event.resource_id
      %tr
        %td{colspan: 6}= simple_format(event.message)

= paginate @events
