!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : app_name
    = csrf_meta_tags
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity: 'sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin: 'anonymous'
    = stylesheet_link_tag 'rhea/application'
    = javascript_include_tag 'rhea/application'

  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        = link_to app_name, rhea_path, class: 'navbar-brand'
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li{ class: params[:controller] == 'rhea/commands' ? 'active' : '' }
              = link_to 'Commands', commands_path
            %li{ class: params[:controller] == 'rhea/nodes' ? 'active' : '' }
              = link_to 'Nodes', nodes_path
            %li{ class: params[:controller] == 'rhea/events' ? 'active' : '' }
              = link_to 'Events', events_path
            %li{ class: params[:controller] == 'rhea/services' ? 'active' : '' }
              = link_to 'Services', services_path
            %li
              = link_to 'Kubernetes UI', Rhea::Kubernetes::Service.names_paths['Kubernetes UI'], target: '_blank'
    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield
